@font-face {
    font-family: 'VCR OSD Mono'; /* Give your font a descriptive name */
    src: url('../../res/VCR_OSD_MONO_1.001.ttf') format('truetype'); /* Specify the path to your .ttf file */
    font-weight: normal; /* Optional: Define font weight if applicable */
    font-style: normal; /* Optional: Define font style if applicable */
    font-display: swap; /* Optional: Controls how the font is displayed while loading */
}

body {
    font-family: 'VCR OSD Mono';
    background-color: rgb(0, 0, 0);
    color: white;
    z-index: 0;
}


#canvas {
    position:fixed;
    left:0;
    top:0;
    z-index:1000;
    width: 100vw;
    height: 100vh;
}

#HUD {
    z-index: 1001;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
}

#crosshair {
    position: absolute;
    width: 1.5vw;
    height:auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    filter:
        drop-shadow(1px 0px 0px black)
        drop-shadow(-1px 0px 0px black)
        drop-shadow(0px 1px 0px black)
        drop-shadow(0px -1px 0px black);
}

#fromthescreen-message {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, 5%);
    color: #000000;
    background-color:#ffffff;
    font-size: 3vh;
    white-space: pre-wrap;
}

#info-message {
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translate(-50%, -5%);
    background-color: #000000;
    color:#ffffff;
    font-size: 3vh;
    white-space: pre-wrap;
}


#foreground {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    gap: 5vh;
}

#header {
    font-size: xx-large;
    text-align: center;
}

#links {
    display: flex;
    
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 3vh;
}

::selection {
    background-color: #ffffff;
    color: #000000;
    
    text-shadow: none;
}

.link {
    background-color: white;
    color: black;
    text-decoration: none;

    padding: 0.5vw 0.5vw;
}

.link:hover {
    filter: brightness(80%);
}

.link:active {
    filter: brightness(90%);
}