@font-face {
    font-family: 'VCR OSD Mono'; /* Give your font a descriptive name */
    src: url('./res/VCR_OSD_MONO_1.001.ttf') format('truetype'); /* Specify the path to your .ttf file */
    font-weight: normal; /* Optional: Define font weight if applicable */
    font-style: normal; /* Optional: Define font style if applicable */
    font-display: swap; /* Optional: Controls how the font is displayed while loading */
}

body {
    font-family: 'VCR OSD Mono';
    margin-top: 2.5vw;
    margin-left: 8vw;
    margin-right: 8vw;
    background-color: rgb(126, 126, 126);
    color: white;
    z-index: 1;
}

.aboutme-body {
    display: flex; /* Enables Flexbox layout */
    justify-content: space-around; /* Distributes space between items */
    gap: 20px; /* Adds space between the flex items */
}

.aboutme-body-element {
  flex: 1; /* Allows flex items to grow and shrink, taking equal space */
  /* Add other styling as needed, e.g., background-color, padding, etc. */
}

.right-aligned-list {
  float: right; /* This moves the entire list to the right */
  list-style-type: none; /* Optional: remove default bullet points */
  padding: 0; /* Optional: remove default padding */
  margin: 0; /* Optional: remove default margin */
}

#background-canvas {
    position:fixed;
    left:0;
    top:0;
    z-index:-1;
}

#header {
    font-size: xx-large;
}

#content {
    margin-bottom:6vw;
}

#footnote {
    font-size: small;
    position: fixed;
    bottom: 0;
    right: 0; /* Optional: adjust as needed for horizontal positioning */
    /*width: 100%; /* Optional: adjust as needed */
}

::selection {
  background-color: #ffffff; /* Sets the background color of the selection */
  color: #000000; /* Sets the text color within the selection */
}