@font-face {
    font-family: 'VCR OSD Mono'; /* Give your font a descriptive name */
    src: url('../res/VCR_OSD_MONO_1.001.ttf') format('truetype'); /* Specify the path to your .ttf file */
    font-weight: normal; /* Optional: Define font weight if applicable */
    font-style: normal; /* Optional: Define font style if applicable */
    font-display: swap; /* Optional: Controls how the font is displayed while loading */
}

body {
    font-family: 'VCR OSD Mono';
    /* margin-top: 2.5vw; */
    /* margin-left: 8vw; */
    /* margin-right: 8vw; */
    background-color: rgb(0, 0, 0);
    color: white;
    z-index: 1;
}


#background-canvas {
    position:fixed;
    left:0;
    top:0;
    z-index:-1;
}

#foreground {
    min-height: 100vh;

    display: flex;
    justify-content: center; /* horizontal */
    align-items: center;     /* vertical */
}

#header {
    font-size: xx-large;
    text-align: center;
}


#header::selection {
  background-color: #ffffff; /* Sets the background color of the selection */
  color: #000000; /* Sets the text color within the selection */
}

::selection {
  background-color: #ffffff; /* Sets the background color of the selection */
  color: #000000; /* Sets the text color within the selection */
}